<h1>Sightings</h1>

<% @sightings.each do |sighting| %>
  <ul>
    <li><%= "Species: #{sighting.species.name}" %></li>
    <li><%= "Location: #{sighting.location}" %>
    <li><%= "Time: #{sighting.time.strftime("%I:%M%p")}" %></li>
    <li><%= "Date: #{sighting.date}" %></li>
    <li><%= "Region: #{sighting.region.name}" %></li>
    <a href="/sightings/<%= sighting.id %>" data-method="delete" rel="nofollow"><button>Delete</button></a>
    <a href="/sightings/<%= sighting.id %>/edit"><button>Edit</button></a></li>
  </ul>
<% end %>


<form action="/sightings" method="get">
  <label for="sightings_start_date">Start date</label>
  <input id="sightings_start_date" name="sightings[start_date]" type="date">
  <label for="sightings_end_date">End date</label>
  <input id="sightings_end_date" name="sightings[end_date]" type="date">
  <button>Run report</button>
</form>


<p><a href="/species/">Species</a></p>

<p><a href="/regions/">Regions</a></p>
